/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
:root {
    --dark-green: #002925;
    --green: #004740;
    --orange: #ff7c2f;
    --light: #FFFFFF;
    --grey: #bed8c6;
    --font-lg: 1.2rem;
    --red: #b90025;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--green);
    color: var(--light);
    letter-spacing: 1px;
    padding: 2rem 1rem;
}

header {
    max-width: 800px;
    width: 100%;
    margin: 1rem auto 1.5rem auto;
    text-align: center;
}

header h1 {
    font-weight: 400;
    margin-bottom: 1rem;
}

#switch {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--grey);
    text-shadow: 1px 3px 1px var(--dark-green);
}

#task-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0 1rem 0;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#task-input {
    flex: 1 1 0%;
    padding: 0.75rem 0.5rem;
    background-color: var(--dark-green);
    color: var(--light);
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

#task-input::placeholder {
    color: var(--grey);
}

@media (min-width: 768px) {
    #task-input {
        font-size: var(--font-lg);
    }
}

#task-submit {
    color: var(--light);
    font-weight: 600;
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: 0.4s;
}

#task-submit:hover {
    opacity: 0.8;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem 0;
}

.task-list h2 {
    font-weight: 400;
    letter-spacing: normal;
    margin-bottom: 0.5rem;
}

#tasks {
    display: flex;
    flex-direction: column-reverse;
}

#tasks .task {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: var(--dark-green);
    border-radius: 0.5rem;
}

@media (min-width: 1000px) {
    #tasks .task {
        padding: 1rem 2rem;
    }
}

.task .content {
    flex: 1 1 0%;
}

.task .content .text {
    color: var(--light);
    padding-top: 0.5rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.task .content .text:not(:read-only) {
    border-bottom: 1px solid var(--grey);
    color: var(--grey);
}

@media (min-width: 768px) {
    .text {
        font-size: var(--font-lg);
    }
}

.task .counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.2rem;
}

@media (min-width: 768px) {
    .text .time {
        font-size: var(--font-lg);
    }
}

.task .counter .controls button {
    background-color: var(--orange);
    color: var(--light);
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    margin-right: 0.25rem;
    transition: 0.4s;
    cursor: pointer;
}

.task .counter .controls button:hover {
    opacity: 0.8;
}

.task .actions {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.task .actions button {
    color: var(--light);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.task .actions .edit, .download {
    border: 1px solid var(--light);
}

.task .actions .delete {
    background-color: var(--red);
    border: 1px solid var(--red);
}

.actions button:hover {
    opacity: 0.8;
}

@media (min-width: 1000px) {
    button {
        font-weight: 600;
    }

    .counter .controls {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
    }

    .controls button {
        padding: 1rem 2rem;
    }

    .task .actions {
        gap: 1rem;
    }

    .actions button {
        padding: 1.5rem 2.2rem;
    }
}

/* nav */

.nav-start {
    text-align: center;
    font-family: "Avenir Next", sans-serif;;
    font-weight: 700;
    background-color: transparent !important;
    color: var(--light) !important;
    margin-bottom: 2rem;
}

.nav-start:hover {
    color: coral !important;
}

a {
    text-decoration: none;
}