/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0,71,64);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: sans-serif;
}

img{
  display: block;
  margin: 0 auto;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
